extends layout

block content
    h1 Welcome #{user.username}
    a(href="/User/newMessage") Create a new Message.
    br
    a(href="/User") Show your Messages.
    br
    a(href="/User/member") Become Member.
    br
    a(href="/User/admin") Become Admin.
    br
    each data in message
        h3 #{data.title}
        p #{data.message}
        p Written By - #{user.isMember ? data.username : "anonymous"}
        p Date - #{user.isMember ? data.date: "???"};
        if user.admin
            form(action=`${"User/delete/" + data._id}` method='POST')
                button(type='submit') Delete
